CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.idea
violence
cmake-build-debug
configs/win_64/violence_win_64.exe
configs/linux/violence_linux
